<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanliss.kurt.hmByElla">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hm_by_ella"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hm_by_ella_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wanliss.kurt.hmByElla.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanliss.kurt.hmByElla.ContactActivity"
            android:label="@string/client_info"
            android:parentActivityName="com.wanliss.kurt.hmByElla.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanliss.kurt.hmByElla.Login"
            android:label="@string/title_activity_login"
            android:parentActivityName="com.wanliss.kurt.hmByElla.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wanliss.kurt.hmByElla.StorageActivity"
            android:label="@string/title_activity_storage"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>